/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@600;700&display=swap");

/* body {
    font-family: 'Mulish', sans-serif;
} */
p {
  color: #767777;
}
/* pager header */
.page-header {
  background-image: url("../img/lawyer.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  color: white;
  text-transform: uppercase;
}
.team-member-header {
  background-color: rgba(44, 44, 44, 0.8);
  height: 200px;
}
.page-header h1 {
  font-size: 50px;
  font-weight: 900;
}

.page-header .box-pagination li {
  display: inline-block;
  margin: 1em;
  background-color: #66533c;
  font-size: 13px;
  border-radius: 10px 0px;
  padding: 0.5em;
}

.page-header .box-pagination li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

/* meet our team */
.our-team .team-row {
  margin-left: -40px;
  margin-right: -40px;
}

.member-details {
  background-color: #b7814f;
  padding: 10px;
  color: white;
}

.our-team .team-member-card {
  padding: 0 40px;
}

.our-team .container-fluid {
  padding: 0 50px;
}

.team-member-image img {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  width: 100%;
  /* border-radius: 10px 10px 0px 0px; */
}

.team-member,
.team-member-image {
  position: relative;
  overflow: hidden;
}

.team-member-details {
  background-color: rgba(20, 20, 20, 0.7);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.team-details {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 0;
  padding: 5%;
  overflow: hidden;
  width: 100%;
  z-index: 2;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.team-details p {
  color: #fff;
}

.team-member-image:hover .team-details {
  opacity: 1;
  margin-top: -30px;
}

.team-member-image:hover .team-member-details {
  opacity: 1;
}

.socials a {
  display: inline-block;
  width: 37px;
  height: 37px;
  background-color: transparent;
}

.socials i {
  line-height: 37px;
  color: #616161;
  font-size: 14px;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  text-align: center;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.team-details .socials i {
  color: #fff;
}

.socials a:hover i {
  color: #fff;
  background-color: #355c7d;
}

/* contact us footer */

.contact-us-container {
  background-image: url("../img/contect_img 1.png");
  padding: 30px;
}
.btn {
  background-color: #c08235;
  padding: 10px;
  color: white;
  text-transform: uppercase;
}

.btn:hover {
  background-color: transparent;
  border-color: #b7814f;
}

/* pagination */
.pagination li a {
  color: #c08235;
}

.pagination .page-item a:hover {
  background-color: #c08235;
  color: white;
}
