/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
/* body {
 
} */
/* section {
  height: calc(100vh -80px);
} */
* {
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

p {
  color: #767777;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: white;
}

.logo {
  font-family: "Lobster", cursive;
}

/* =============================== navigation styles ============================*/
.navigation-bar nav {
  background-color: #b7814f;
  height: 80px;
  width: 100%;
}

label.logo {
  color: white;
  font-size: 35px;
  font-weight: bold;
  line-height: 80px;
  padding: 0 100px;
}

.navigation-bar nav ul {
  float: right;
  margin-right: 18px;
}

.navigation-bar nav ul li {
  display: inline;
  line-height: 80px;
  margin: 0 5px;
}

.navigation-bar nav ul li a {
  font-size: 18px;
  text-transform: uppercase;
  padding: 7px 13px;
  border-radius: 4px;
}

/* .navigation-bar nav .active {
  background-color: #745942;
} */

.navigation-bar nav .active:hover {
  background-color: #66533c;
  transition: 0.5s;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

.btn-get-quote {
  background-color: #745942 !important;
  transition: 0.5s;
}

.btn-get-quote:hover {
  color: white;
  background-color: #1c171273 !important;
}

/* get quote */
#send-quote input::placeholder,
#send-quote textarea::placeholder {
  color: rgb(104, 104, 104);
  font-size: 13px;
}

.success-message {
  display: none;
}
/* media */
@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }

  .navigation-bar nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 952px) {
  .checkbtn {
    display: block;
  }
  .nv-list {
    position: fixed;
    width: 100%;
    height: 10vh;
    background: #b7814f;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }

  .navigation-bar nav ul li {
    display: inline-block;
    margin: 50px 0;
    line-height: 30px;
  }

  .navigation-bar nav ul li a {
    font-size: 20px;
  }

  .navigation-bar nav ul li a:hover,
  .navigation-bar nav ul li a:active {
    background: none;
    color: #422c10;
  }

  /* #check:checked ~ ul {
        left: 0;
      } */
}

/*  =================== lawyer page styles =================== */
.page-header {
  background-image: url("../img/lawyer.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  color: white;
  text-transform: uppercase;
}
.team-member-header {
  background-color: rgba(44, 44, 44, 0.8);
  height: 200px;
}
.page-header h1 {
  font-size: 50px;
  font-weight: 900;
}

.page-header .box-pagination li {
  display: inline-block;
  margin: 1em;
  background-color: #66533c;
  font-size: 13px;
  border-radius: 10px 0px;
  padding: 0.5em;
}

.page-header .box-pagination li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

/* meet our team */
.our-team .team-row {
  margin-left: -40px;
  margin-right: -40px;
}

.member-details {
  background-color: #b7814f;
  padding: 10px;
  color: white;
}

.our-team .team-member-card {
  padding: 0 40px;
}

.our-team .container-fluid {
  padding: 0 50px;
}

.header-border {
  text-decoration: underline;
  text-transform: uppercase;
}
.team-member-image img {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  width: 100%;
  /* border-radius: 10px 10px 0px 0px; */
}

.team-member,
.team-member-image {
  position: relative;
  overflow: hidden;
}

.team-member-details {
  background-color: rgba(20, 20, 20, 0.7);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.team-details {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 0;
  padding: 5%;
  overflow: hidden;
  width: 100%;
  z-index: 2;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.team-details p {
  color: #fff;
}

.team-member-image:hover .team-details {
  opacity: 1;
  margin-top: -30px;
}

.team-member-image:hover .team-member-details {
  opacity: 1;
}

.socials a {
  display: inline-block;
  width: 37px;
  height: 37px;
  background-color: transparent;
}

.socials i {
  line-height: 37px;
  color: #616161;
  font-size: 14px;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  text-align: center;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.team-details .socials i {
  color: #fff;
}

.socials a:hover i {
  color: #fff;
  background-color: #355c7d;
}

/* contact us footer */

.contact-us-container {
  background-image: url("../img/contect_img 1.png");
  padding: 30px;
}
.btn {
  background-color: #c08235;
  padding: 10px;
  color: white;
  text-transform: uppercase;
}

.btn:hover {
  background-color: transparent;
  border-color: #b7814f;
}

/* pagination */
.pagination li a {
  color: #c08235;
}

.pagination .page-item a:hover {
  background-color: #c08235;
  color: white;
}

/* single lawyer page */
.meet-our h3 {
  text-transform: uppercase;
}
.underline {
  width: 100%;
  border-bottom: 2px solid #000;
  text-align: center;
  position: relative;
}
.underline span {
  position: relative;
  top: 15px;
  padding: 0 10px;
  background: #fff;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 600;
}

.social-media-icons li {
  display: inline;
  margin: 4px;
  border: 1px solid #b8824f;
  color: #fff;
  background: #b8824f;
  border-radius: 5px;
  display: inline-block;
  margin-right: 4px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
}
.single-lawyer h2 {
  color: #b8824f;
}

.title-name {
  font-size: 22px;
  color: #b8824f;
  font-weight: 400;
}

.who-am {
  color: #797979;
}

.description {
  font-size: 16px;
  color: #797979;
  font-weight: 300;
  padding: 20px 0 20px 0;
}

/* =================== sign in =======================================*/
.rounded-image img {
  width: 60px;
  border: 1px solid rgb(165, 165, 165);
  border-radius: 50px;
}
/* ========================= footer styles ======================================*/
.footer {
  background-color: #190d03;
  padding: 40px;
  color: white;
}

.footer .social-icons li,
.icon-left {
  display: inline;
  margin: 4px;
  border: 1px solid #b8824f;
  color: #fff;
  background: #b8824f;
  border-radius: 5px;
  display: inline-block;
  margin-right: 4px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
}

.footer .social-icons li:hover {
  border: 1px solid #b8824f;
  background-color: transparent;
}

.footer-list li {
  list-style: none;
  color: #ffffff;
  font-size: 13px;
  line-height: 2em;
}

.contact-info a {
  font-size: 13px;
}

/* ========================================== */
/* SERVICE PAGE STYLES */

.serviceBody {
  font-family: Gothic A1;
  font-style: normal;
  font-weight: 800;
  line-height: 45px;
}

.infoSearchBody {
  display: flex;
  justify-content: space-around;
}
.infoSearch,
.findNBook,
.verifiedReviews {
  display: flex;
  flex-direction: column;
  justify-content: center !important;
}
.emptyLine {
  height: 15rem;
  width: 1px;
  border: 1px solid #806c53;
  box-shadow: 0px, 0px, 4px, 3px grey;
  margin: 1rem;
  background: #806c53;
}
.findLawyer {
  background: #806c53;
}
.chooseLawyer {
  display: flex;
  /* border:2px solid gold; */
  justify-content: space-around;
}
/* Appointment Button */
.appointment {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.reviewBody {
  display: flex;
  justify-content: space-around;
  box-shadow: 0px, 0px, 4px, 3px grey;
}
.lawyerJohn,
.lawyerMark,
.lawyerJulie {
  /* border:2px solid grey; */
  box-shadow: 0px, 0px, 4px, 3px grey !important;
}
/* result of lawyer selection */
.selectedLawyer {
  display: flex;
}
.myLawyer {
  border-radius: 50%;
}
.julieReturned {
  /* display:none; */
}
.johnReturned {
  /* display:none; */
}

/* ======================SERVICE PAGE END======================== */
/* HOME START */
/* to project */
/* .home{
    background-image: url('../img/lawprobg.jpg');
    height: 815px;
    width: 100%; */

.Text {
  color: #fff;
  margin-top: 0px;
}

.firm1 {
  height: 300px;
}
.firm2 {
  height: 300px;
}
.firm3 {
  height: 300px;
}
.ourlawyers{
  color: #f78009;
}
.lawfirms {
  margin-top: 50px;
  justify-content: center;
  color: #f78009;
}

/* styling lawyers */
.lawyers {
  justify-content: center;
  display: flex;
  margin-top: 5px;
  justify-items: normal;
}
.port1,
.port2,
.port3 {
  display: none;
  padding: 30px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  border: 2px solid;
  text-transform: uppercase;
  /* font-weight: 700; */
  /* font-size: x-large; */
}

.lee {
  height: 160px;
}
.smith {
  height: 135px;
}
.about {
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

/* Home styles End */

/*===========================================*/
/*Contact Us Start*/
.contact-us-page input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  color: #000;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
.contact-us-page input[type="submit"] {
  background-color: #b8824f;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}
.contact-us-page input[type="submit"]:hover {
  background-color: #b8824f;
}
.contact-us-page {
  border-radius: 5px;
  background-color: #190d03;
  padding: 10px;
}
.contact-us-page .column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}
.row-contact:after {
  content: "";
  display: table;
  clear: both;
}
.contact-us-page .h4,
.contact-us-page h2 {
  color: #fff;
}
@media screen and (max-width: 600px) {
  .contact-us-page .column,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}
.contact-us-page #name {
  border-radius: 50px;
  color: #000;
  font-family: "Sarabun", sans-serif;
  font-weight: 550;
}
.contact-us-page #email {
  border-radius: 50px;
  color: #000;
  font-family: "Sarabun", sans-serif;
  font-weight: 550;
}
.contact-us-page #message {
  border-radius: 4px;
  color: #000;
  font-family: "Sarabun", sans-serif;
  font-weight: 550;
}
.contact-us-page #submit {
  border-radius: 4px;
}
.contact-us-page .h2,
h4 {
  color: #fff;
}
/* Contact Us END */
/*====================================================*/
