/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
/* body {
    font-family: 'Mulish', sans-serif;
} */
p {
  color: #767777;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
    color: white;
}

.logo {
    font-family: 'Lobster', cursive;
}

/*  =================== lawyer page styles =================== */
.page-header {
    background-image: url("../img/lawyer.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    color: white;
    text-transform: uppercase;
  }
  .team-member-header {
    background-color: rgba(44, 44, 44, 0.8);
    height: 200px;
  }
  .page-header h1 {
    font-size: 50px;
    font-weight: 900;
  }
  
  .page-header .box-pagination li {
    display: inline-block;
    margin: 1em;
    background-color: #66533c;
    font-size: 13px;
    border-radius: 10px 0px;
    padding: 0.5em;
  }
  
  .page-header .box-pagination li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
  }
  
  /* meet our team */
  .our-team .team-row {
    margin-left: -40px;
    margin-right: -40px;
  }
  
  .member-details {
    background-color: #b7814f;
    padding: 10px;
    color: white;
  }
  
  .our-team .team-member-card {
    padding: 0 40px;
  }
  
  .our-team .container-fluid {
    padding: 0 50px;
  }
  
  .header-border {
    text-decoration: underline;
    text-transform: uppercase;
  }
  .team-member-image img {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
    width: 100%;
    /* border-radius: 10px 10px 0px 0px; */
  }
  
  .team-member,
  .team-member-image {
    position: relative;
    overflow: hidden;
  }
  
  .team-member-details {
    background-color: rgba(20, 20, 20, 0.7);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  
  .team-details {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 0;
    padding: 5%;
    overflow: hidden;
    width: 100%;
    z-index: 2;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  
  .team-details p {
    color: #fff;
  }
  
  .team-member-image:hover .team-details {
    opacity: 1;
    margin-top: -30px;
  }
  
  .team-member-image:hover .team-member-details {
    opacity: 1;
  }
  
  .socials a {
    display: inline-block;
    width: 37px;
    height: 37px;
    background-color: transparent;
  }
  
  .socials i {
    line-height: 37px;
    color: #616161;
    font-size: 14px;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    text-align: center;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  
  .team-details .socials i {
    color: #fff;
  }
  
  .socials a:hover i {
    color: #fff;
    background-color: #355c7d;
  }
  
  /* contact us footer */
  
  .contact-us-container {
    background-image: url("../img/contect_img 1.png");
    padding: 30px;
  }
  .btn {
    background-color: #c08235;
    padding: 10px;
    color: white;
    text-transform: uppercase;
  }
  
  .btn:hover {
    background-color: transparent;
    border-color: #b7814f;
  }
  
  /* pagination */
  .pagination li a {
    color: #c08235;
  }
  
  .pagination .page-item a:hover {
    background-color: #c08235;
    color: white;
  }
  
  /* ========================= footer styles ==============================*/
  .footer {
    background-color: #190d03;
    padding: 40px;
    color: white;
  }
  
  .footer .social-icons li,
  .icon-left {
    display: inline;
    margin: 4px;
    border: 1px solid #b8824f;
    color: #fff;
    background: #b8824f;
    border-radius: 5px;
    display: inline-block;
    margin-right: 4px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
  }
  
  .footer .social-icons li:hover {
    border: 1px solid #b8824f;
    background-color: transparent;
  }
  
  .footer-list li {
    list-style: none;
    color: #ffffff;
    font-size: 13px;
    line-height: 2em;
  }
  
  .contact-info a {
    font-size: 13px;
  }
  
/* ========================================== */
  /* SERVICE PAGE STYLES */







  /* ======================SERVICE PAGE END======================== */
  /* Home styles start */



  /* Home styles End */


/*===========================================*/
  /*Contact Us Start*/
  * {
    box-sizing: border-box;
    
  }
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    color: #000;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  input[type=submit] {
    background-color: #b8824f;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  input[type=submit]:hover {
    background-color: #b8824f;
  }
  .container {
    border-radius: 5px;
    background-color: #190d03;
    padding: 10px;
  }
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .h4,h2{
    color: #fff;
  }
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
  #name {
      border-radius: 50px;
      color: #000;
      font-family: 'Sarabun', sans-serif;
      font-weight: 550;
    
    }
    #email {
      border-radius: 50px;
      color: #000;
      font-family: 'Sarabun', sans-serif;
      font-weight: 550;
    }
    #message {
      border-radius: 4px;
      color: #000;
      font-family: 'Sarabun', sans-serif;
      font-weight: 550;
    }
    #submit{
      border-radius: 4px;
    }
    .h2,h4{
      color: #fff;
    }
    .contacts-map{
      padding: 30px;
    }
  
    /* Contact Us END */
  /*====================================================*/